html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeee;
  display: flex;
  font-family: 'Roboto', sans-serif !important;
}

input:focus{
  border:0 solid transparent;
  outline:none
}

#root{
  width: 100%;
    background-color: white;
}
.container{

  display: flex;
  flex-direction: column
}

.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #ffff;
}

.header-title{
  align-items: center;
  background-color: #4cb6cb;
  display: flex;
  flex: 1;
  color: #ffff;
  font-family: 'Solway', serif;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.header-searchbox{
  flex: 4 1;
  background: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.searchbox{
  width: 80%;
  display: flex;
}
.searchbox input{
  border:0px;
  padding: 15px;
}
.searchButton{
  flex: 1;
  align-self: center;
  color: #777676;
  cursor: pointer;
}

.content{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #eeee;
  padding: 20px;
  flex-direction: column;
}

.content h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px
}
.chart{
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.chart img{
 width: 100%
}
.chart p{
  margin: 5px 0px;
}

.chart:hover{
  width: 185px;
  background: #f7f7f7; 
  box-shadow:5px 6px 10px #cecece;
}

.content-part{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer{
  background-color:#45bad5;
  color: #f7f7f7;
  padding: 10px;
}